<template>
  <div>
      <loaderPage :isReady="isReady"></loaderPage>
      <v-row v-if="!isReady" class="text-center">
        <v-col cols="12">
        <p>This is a demo site to showcase development in Vue2.</p>
        <p><v-btn 
          color="secondary"
          elevation="11" 
          @click="launchButton"
          >View Demo</v-btn></p>
        </v-col>
      </v-row>

  </div>
</template>

<script>
import loaderPage from '@/components/Loader'

  export default {
    components: {
      loaderPage
    },
    name: 'AboutPage',

    data: () => ({
       isReady:false, // always false since this is the about page

    }),
    methods: {
      launchButton() {
        this.$router.push({ path: "/" });
      }
    },
  }
</script>

