<template>
  <v-container>
    <editDialog :dialog="editDialog" :thisAlbum="thisAlbum" :currentAlbums="albums" :currentArtists="artists" v-on:return-new="addAlbum" v-on:return-data="revertDataFromDialog" v-on:send-message="okMessage"></editDialog>
    <editArtistDialog :dialog="editArtistDialog" :thisArtist="thisArtist" :currentAlbums="albums" :currentArtists="artists" v-on:return-new="addArtist" v-on:return-data="revertArtistDataFromDialog" v-on:send-message="okArtistMessage"></editArtistDialog>
    <loaderPage :isReady="isReady"></loaderPage>
    <v-row v-if="!isReady" class="text-center">
      <v-col cols="12">
        <p>Loading</p>
      </v-col>
      <v-col offset="4" cols="4">
        <v-progress-linear
          color="grey accent-4"
          indeterminate
          rounded
          height="6"
        ></v-progress-linear>
      </v-col>
    </v-row>
    
    <v-row v-if="isReady" class="text-center">
      <v-col cols="12">
      
        <v-tabs v-model="activeTab" color="black" v-bind:class="{ verticalTab:isVerticalTab }"  :vertical="isVerticalTab">
          <v-tab>
            <v-icon left>
              mdi-record-player
            </v-icon>
            Albums
          </v-tab>
          <v-tab>
            <v-icon left>
              mdi-account-music
            </v-icon>
          Artists
          </v-tab>
          <v-tabs-slider color="#666666"></v-tabs-slider>
          <v-tab-item>
            <v-card v-bind:class="{ smallversion:isVerySmall }">
              <v-card-title>
                <v-text-field
                  v-model="albumsearch"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
                <v-btn  @click="albumsearch=``" x-small icon rounded outlined color="grey"><v-icon>mdi-format-color-marker-cancel</v-icon></v-btn>
                <v-spacer></v-spacer>
                <v-btn small rounded outlined color="success" @click="createNewAlbum()">Add</v-btn>
              </v-card-title>

              <v-data-table
                  :headers="albumheaders"
                  :items="albums"
                  item-key="album_title"
                  class="elevation-1"
                  :search="albumsearch"
                  :custom-filter="customFilter"
               >

                <template v-slot:item.album_title="{item}">
                  <td class="album">
                  {{item.album_title}}
                </td>
                </template>

                <template v-slot:item.artist="{item}">
                  <td class="albumsearchlink" @click="doArtistSearch(artistName(item.artist))">
                  {{artistName(item.artist)}}
                   <span>&nbsp;<v-btn
                        elevation="0"
                        color="primary"
                        icon
                        rounded
                        x-small
                      ><v-icon>mdi-eye</v-icon></v-btn>
                      </span>
                
                  </td>
                </template>

                <template v-slot:item.condition="{item}">
                  <conditionGrade :condition="item.condition"></conditionGrade>
                </template>
              
                <template v-slot:item.function="{item}">
                  <div class="buttonSet">
                    <v-btn
                        v-on:click="editButton(albums.indexOf(item))"
                        elevation="0"
                        color="green"
                        medium
                        rounded
                        icon
                        light
                      ><v-icon>mdi-pencil</v-icon></v-btn>
                
                    <v-btn
                        v-on:click="deleteButton(albums.indexOf(item))"
                        elevation="0"
                        color="red"
                        medium
                        rounded
                        icon
                        light
                      ><v-icon>mdi-delete</v-icon></v-btn>
                  </div>
                </template>
              </v-data-table>
            
            </v-card>
          </v-tab-item>
          <v-tab-item>
   
           <v-card v-bind:class="{ smallversion:isVerySmall }">
              <v-card-title>
                <v-text-field
                  v-model="albumsearch"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
                <v-btn  @click="albumsearch=``" x-small icon rounded outlined color="grey"><v-icon>mdi-format-color-marker-cancel</v-icon></v-btn>
                <v-spacer></v-spacer>
                <v-btn small rounded outlined color="success" @click="createNewArtist()">Add</v-btn>
              </v-card-title>

              <v-data-table
                  :headers="artistheaders"
                  :items="artists"
                  item-key="id"
                  class="elevation-1"
                  :search="albumsearch"
              >

                <template v-slot:item.name="{item}">
                  <td class="album">
                  {{item.name}}
                </td>
                </template>

                <template v-slot:item.albums="{item}">
                 <td class="albumsearchlink" @click="doAlbumSearch(item)">
                  {{albumCount(item.id)}} Album<span v-if="albumCount(item.id)>=2">s</span>
                   <span>&nbsp;<v-btn
                        elevation="0"
                        color="primary"
                        icon
                        rounded
                        x-small
                      ><v-icon>mdi-eye</v-icon></v-btn>
                    </span>
                  </td>
                </template>
    
              <template v-slot:item.function="{item}">
                  <div class="buttonSet">
                    <v-btn
                        v-on:click="editArtistButton(item.id,artists.indexOf(item))"
                        elevation="0"
                        color="green"
                        medium
                        rounded
                        icon
                        light
                    ><v-icon>mdi-pencil</v-icon></v-btn>

                    <v-btn v-if="albumCount(item.id)===0"
                        v-on:click="deleteArtistButton(item.id,artists.indexOf(item))"
                        elevation="0"
                        color="red"
                        medium
                        rounded
                        icon
                        light
                    ><v-icon>mdi-delete</v-icon></v-btn>
                    <v-btn v-else
                        v-on:click="alertCantDelete()"
                        elevation="0"
                        color="grey"
                        medium
                        rounded
                        icon
                        light
                    ><v-icon>mdi-delete</v-icon></v-btn>
                  </div>
                </template>
              </v-data-table>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import conditionGrade from '@/components/ConditionGrade'
  import loaderPage from '@/components/Loader'
  import editDialog from '@/components/EditDialog'
  import editArtistDialog from '@/components/EditArtistDialog'

  const gitStart ="https://gist.githubusercontent.com/seanders/df38a92ffc4e8c56962e51b6e96e188f/raw/b032669142b7b57ede3496dffee5b7c16b8071e1/page1.json"
  //const gitStart ="https://sos.werdpress.ca/page1.json"
  export default {
    components: {
      conditionGrade,
      editDialog,
      editArtistDialog,
      loaderPage
    },
    name: 'RecordList',

    data: () => ({
      isVerySmall:false,
      isVerticalTab:true,
      editArtistDialog:false,
      editDialog:false,
      isReady:false, 
      albums:[],
      artists:[{0:''}], 
      artistIndex:-1,
      rawDataSet:[],
      albumsearch:"",
      artistsearch:"",
      isSmallClass:"mini",
      activeTab:0,

    }),

    computed: {
      albumheaders () {
        return [
          {text: 'Album', align: 'start', value: 'album_title'},
          { text: 'Artist', value: 'artist', sortable:false },
          { text: 'Condition', value: 'condition' },
          { text: 'Year', value: 'year' },
          { text: '', value: 'function', sortable:false },
        ]
      },
      artistheaders () {
        return [
          { text: 'Artist', align: 'start', value: 'name' },
          { text: 'Albums', value: 'albums', sortable:false },
          { text: '', value: 'function', sortable:false },
        ]
      },
    },

    methods: {
      doAlbumSearch(item) {// switch tabs, show albums for artist
        console.log(item)
        this.activeTab=0;
        this.albumsearch=item.name;
      },
      doArtistSearch(item) { // switch tabs, show artist for album
        console.log(item)
        this.activeTab=1;
        this.albumsearch=item;
      },
      deleteButton(albumIndex) { // delete an album
        this.albums.splice(albumIndex,1) 
      },
      deleteArtistButton(artistIndex) { //delete an artist
        this.artists.splice(artistIndex,1) 
      },
      addAlbum(album) { //add an album
        this.albums.push(album.album);
        this.thisAlbum=0;
        this.editDialog=false;
      },
      createNewAlbum() { //wrapper to change index to -1
        this.editButton(-1);
      },
      createNewArtist() {//wrapper to change indicies to -1
        this.editArtistButton(-1,-1);
      },
      customFilter(value,search,item) { // allow artist or album name return
        let inAlbum = RegExp(search,"i").test(item.album_title)
        let inArtist = RegExp(search,"i").test(this.artistName(item.artist));
        return inArtist || inAlbum
      },
      alertCantDelete() { // should add a fancy alert compenent  
        alert('Cannot delete an artist that has albums assigned.');
      },
      editButton(albumIndex) { //opens the edit album dialog
        this.thisAlbum=albumIndex;
        this.editDialog=true;
      },
      editArtistButton(artistID,artistIndex){ //opens the edit artist dialog
        this.artistIndex=artistIndex; //
        this.thisArtist=artistID;
        this.editArtistDialog=true;
      },
      okMessage() { //receives message from component when ok pressed
        this.editDialog=false;
        this.thisAlbum=-1;
      },
      okArtistMessage() { //receives message from component when ok pressed
        this.editArtistDialog=false;
        this.thisArtist=-1;
      },
      revertDataFromDialog(returndata) { //receives message from component when cancel pressed
        this.albums.splice(returndata.id, 1, returndata.album)
        this.editDialog=false;
        this.thisAlbum=-1;
      },
      revertArtistDataFromDialog(returndata) { //receives message from component when cancel pressed
        this.artists.splice(this.artistIndex, 1, returndata.artist)
        this.editArtistDialog=false;
        this.thisArtist=-1;
      },
      addArtist(artist) {// adds an artist with a new id one higher than the highest
        artist.artist.id= this.artists.reduce((p, c) => p.id > c.id ? p : c).id+1;
        this.artists.push({artist:artist.artist,id:artist.artist.id})
        this.thisArtist=-1;
        this.editArtistDialog=false;
      },
      albumCount(id){ //count albums for same artist
        return this.albums.filter(artist =>artist.artist===id).length;
      },
      getAlbums(id){ //get albums for same artist
        return this.albums.filter(artist =>artist.artist===id);
      },
      artistName(id) { // return the artis name for an artist id
        return this.artists.filter(artist =>artist.id===id).shift().name
      },
    
      loaded() { // sets the stage that we have loaded the data
        let arr = this.rawDataSet;
        let tmpArtists=[];
        arr.forEach(rec=>{
          tmpArtists.push(rec.artist)//push artist entry
          rec.artist = rec.artist.id; //swap artist object for id
          this.albums.push(rec);// push record.
        })
        this.artists = Object.values(tmpArtists.reduce((p,c) => (p[JSON.stringify(c)] = c,p),{})).sort((a, b) => (a.name > b.name) ? 1 : -1)
        this.artists.sort(function(a, b) { return b.name - a.name });
        this.isReady=true;
      },
      init(){
        this.checkForTinyScreen(); // compress the views for small windows. 
        this.dataFetch(gitStart);  // call async and recursive function to download the data
      },
      async dataFetch(url) { //download the data
        let download = await fetch(url);
        let jsonData = await download.json();
        jsonData.results.forEach(record => {
          this.rawDataSet.push(record) //add records to raw dataset
        })
        if (jsonData.nextPage) {
          this.dataFetch(jsonData.nextPage); // there are more pages to download.
        } else {
          this.loaded(); //no more pages, call the data loaded method
        }

      },
      checkForTinyScreen() { // decide if we should have vertical or horizontal tabs
                            // check if we should adjust the displays for an even smaller screen
          if (window.innerWidth<=719) {
            this.isVerticalTab = false;
          } else {
            this.isVerticalTab = true;
          }
          if (window.innerWidth<=600) {
            this.isVerySmall = true;
          } else {
            this.isVerySmall = false;
          }
  
      },
   
    },
    mounted () {
      setTimeout(() => this.init(), 1700); //delayed loading
      // this is simulated, because I want you to see the loading screen, 
      // in reality the dataset takes only milliseconds to load, 
      // but might actually take noticable time to load in a real aplication environment
    },
    created() {
      window.addEventListener("resize", this.checkForTinyScreen); // attach to the window resize, for orentation changes
    },
    destroyed() {
      window.removeEventListener("resize", this.checkForTinyScreen);
    },

  }
</script>
<style>
  .album {
    font-size: 19px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .buttonSet {
    text-align: center;
    justify-content: stretch;
    display: table;
  }

  .buttonSet button {
    text-align: center;
    margin-right: 16px;
    display: table-cell;
  }

  /* adjusting a bunch of the default data displays for a better experience on a small screen */ 
  .smallversion .v-data-table .v-data-footer div,
  .smallversion .v-data-table .v-data-footer {
    text-align: center;
    justify-content: space-evenly;
  }

  .smallversion .v-data-table .v-data-footer div,
  .smallversion .v-data-footer__select:nth-child(1) {
    font-size: 14px;
  }

  .smallversion .v-data-table .v-data-footer div:nth-child(3),
  .smallversion .v-data-table .v-data-footer div:nth-child(4) {
    padding-bottom: 20px;
  }

  .smallversion .v-data-table .v-data-footer div:nth-child(3) {
    padding-left: 20px;
  }

  .smallversion .v-data-table .v-data-footer div:nth-child(4) {
    padding-right: 20px;
  }

  .smallversion .v-data-table .v-data-footer div:nth-child(3) button,
  .smallversion .v-data-table .v-data-footer div:nth-child(4) button {
    border: 1px solid #aaaaaa;
  }

  .smallversion .album {
    font-size: 16px;
    align-items: center;
    display: flex;
  }

  .verticalTab .v-tabs-slider-wrapper {
    left: auto !important;
    right: 0;
  }

  .v-application--is-ltr .smallversion .v-data-table__mobile-row__header {
    text-align: right;
    width: 30%;
  }

  .v-application--is-ltr .smallversion .v-data-table__mobile-row__cell {
    text-align: left;
    width: 65%;
  }

  .smallversion .v-data-table {
    line-height: 1.1;
    max-width: 100%;
  }

  .smallversion .v-data-table-header.v-data-table-header-mobile {
    transform: scale(0.75);
  }

  .smallversion .v-data-table .v-data-footer div:nth-child(3) button *,
  .smallversion .v-data-table .v-data-footer div:nth-child(4) button * {
    font-size: 36px;
  }

  .smallversion .v-data-table>.v-data-table__wrapper .v-data-table__mobile-row {
    min-height: 32px;
  }

</style>
