<template>
    <span :class="`condition `+ condition">
         {{item}}
    </span>
</template>

<script>
export default {
     props:['item']  ,
     
     data: () => ({
        

    }),
    methods: {
    
    },

}

    
</script>

<style lang="css" scoped>
.condition{
    text-transform:capitalize
}
.poor {
        background-color:red
}

</style>