<template>
    <span :class="`order-`+getColorSort(condition)+` condition `+ condition">
        <v-chip
        :class="`order-`+getColorSort(condition)"
        :color="getColor(condition)"
        dark
        :small="isSmall"
      >
        {{conditionText(condition)}}
      </v-chip>
    </span>
</template>

<script>
export default {

     props:['condition']  ,
     
     data: () => ({
         isSmall:false,
         grades:[
             {"name":"other","value":"rgb(66,66,66)"},
             {"name":"poor","value":"rgb(197,0,0)"},
             {"name":"fair","value":"rgb(197,85,0)"},
             {"name":"good","value":"rgb(197,197,0)"},
             {"name":"very_good","value":"rgb(85,197,0)"},
             {"name":"mint","value":"rgb(0,197,85)"}
             ]

        
         

    }),
    methods: {
        conditionText(condition) {
        return condition.replace(/_/g, ' ');
        },
        getColor(condition){
            const filters= this.grades.filter(grade => grade.name===condition)
            if (filters.length) {
                return filters[0].value
            } else {
                return this.grades[0].value
            }
        },
        getColorSort(condition){
            let defRtn = 99;
            this.grades.forEach((grade,index) => {
                   if (grade.name===condition) {
                       defRtn = index
                   } 
            })
            // console.log(condition)
            return defRtn
        }

    }
}
    
</script>

<style lang="css" >
.condition .v-chip .v-chip__content{
    text-transform:capitalize;
    width:66px;
    text-align:center;
    display: block;
    height: auto;
}

.smallversion .condition .v-chip {
     height:22px;
     font-size:11px;

}


</style>