<template>
    <div>
      <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
      scrollable
    >
     
      <v-card>
        <v-card-title primary-title>
          <span class="headline">Edit Album Details</span>
        </v-card-title>
        <v-card-text>
         
          <v-container>
            <v-row>

              <v-col cols="12">
                <v-text-field
                  label="Album Title"
                  required
                  v-model="albumData.album_title"
                ></v-text-field>
              </v-col> 


              <v-col
                cols="12"
                sm="6"
                md="6"
              >

                <v-select
                  v-model="albumData.year"
                :items="yearsArray"
                label="Year"
                menu-props="auto"
                ></v-select>

              </v-col>
                <v-col
                cols="12"
                sm="6"
                md="6"
              >

                <v-select
                  v-model="albumData.condition"
                :items="conditions"
                label="Condition"
                menu-props="auto"
                ></v-select>

              </v-col>
              <v-col
                cols="12"
              >
        
               <v-select
                  v-model="albumData.artist"
                  :items="currentArtists"
                  label="Artist"
                  item-text="name"
                  item-value="id"
                    
                ></v-select>

              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error darken-1"
            @click="pressCancel()"
          >
            Revert Changes
          </v-btn>
          <v-btn
            color="success darken-1"
            @click="returnData()"
          >
            Continue
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> 
  </div>
</template>

<script>
export default {
  props:['dialog','currentAlbums','currentArtists','thisAlbum'],

  data() {
      return { 
          search:'',
          albumIndex:-1,
          albums:[],
          artists:[],
          albumData:{},
          artistData:{},
          cancelData:{},
          yearsArray: Array.from(Array(new Date().getFullYear() - 1849), (_, i) => (new Date().getFullYear()-i)),
          conditions:["other","poor","fair","good","very_good","mint"]
          };
  },
  methods: {
      returnData() {
      if (this.thisAlbum===-1) {
          this.$emit('return-new', {album: this.albumData}); 
        } else{
          this.$emit('send-message', 'ok');
        }
      },

      pressCancel() {
        if (this.thisAlbum===-1) {
          this.$emit('send-message', 'ok');
        } else{
          this.$emit('return-data',  {album:this.cancelData,id:this.albumIndex});
        }
      },
      
  },
  watch: { 
    date (val) {
        console.log(val)
        this.dateFormatted = this.formatDate(this.date)
    },
    thisAlbum: function(newVal) { // watch it
       this.albumIndex = newVal;
      if (newVal===-1) {
        this.albumData = {album_title: '',
                        artist: 0,
                        condition:'fair',
                        year: 1950}
      } else {
        this.albumData = this.currentAlbums[newVal]
        this.cancelData = JSON.parse(JSON.stringify(this.currentAlbums[newVal]));
      }
    },
  },
}
</script>
