<template>
    <div>
        <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
        scrollable
        >
            <v-card>
                <v-card-title primary-title>
                <span class="headline">Edit Artist Details</span>
                </v-card-title>
                <v-card-text>
                <v-container>
                    <v-row>
                    <v-col cols="12">
                        <v-text-field
                        label="Artist Name"
                        required
                        v-model="artistData.name"
                        ></v-text-field>
                    </v-col> 
                    </v-row>
                </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="error darken-1"
                        @click="pressCancel()"
                    >
                        Revert Changes
                    </v-btn>
                    <v-btn
                        color="success darken-1"
                        @click="returnData()"
                    >
                        Continue
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog> 
    </div>
</template>

<script>
export default {
    props:['dialog','currentAlbums','currentArtists','thisArtist'],
 
    data() {
        return { 
            search:'',
            artistIndex:-1,
            albums:[],
            artists:[],
            albumData:{},
            artistData:{},
            cancelData:{},
            yearsArray: Array.from(Array(new Date().getFullYear() - 1849), (_, i) => (new Date().getFullYear()-i)),
            conditions:["other","poor","fair","good","very_good","mint"]
            };
    },
    methods: {
        returnData() {
            if (this.thisArtist===-1) {
                this.$emit('return-new', {artist: this.artistData}); 
            } else{
                this.$emit('send-message', 'ok');
            }
        },

        pressCancel() {
            if (this.thisArtist===-1) {
                this.$emit('send-message', 'ok');
            } else{
                this.$emit('return-data',  {artist:this.cancelData,id:this.artistIndex});
            }
        },
    },

    watch: { 
        date (val) {
            console.log(val)
            this.dateFormatted = this.formatDate(this.date)
        },
        thisArtist: function(newVal) { // watch it
            this.artistIndex = newVal;
            if (newVal===-1) {
                this.artistData = {name: '', id: -1}
            } else {
                this.artistData = this.currentArtists.filter(artist=>artist.id===this.artistIndex )[0]
                this.cancelData = JSON.parse(JSON.stringify(this.artistData));
            
            }
        },
    },
}
</script>

<style lang="scss" scoped>

</style>