<template>
    <div>
        <v-row v-if="!isReady" class="text-center">
        <v-col cols="12">
            <v-img
            :src="require('../assets/logo.png')"
            class="my-3"
            contain
            height="200"
            />
        </v-col>
         <v-col cols="12">
           
        <h1><div class="smalltext">Welcome To</div><div class="bigtext" >Greg's Grooves</div></h1>
        </v-col>    
        </v-row>
    </div>
</template>

<script>
    export default {
         props:['isReady']  ,
       
    }
</script>

<style lang="scss" scoped>

.bigtext {
    font-size:44px;
}

.smalltext {
    font-size:22px;
}

@media only screen and (max-width: 600px) {
.bigtext {
    font-size:24px;
}

.smalltext {
    font-size:19px;
}
h1{
    animation-name: slidesmall;
}
}

h1 {
	background-image: url(https://media.giphy.com/media/yx1Tzv0P6xTji/giphy.gif);
	background-position-x:50%;
	background-position-y:-198px;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	
	line-height: 1.25;
	margin: 12px 12px;
  -webkit-text-stroke: 1px rgba(0,0,0,0.8);
    -webkit-text-fill-color: rgba(0,0,0,0.3);
animation-name: slide;
  animation-duration: 3500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes slide {
    from {
        background-position-y:-187px;;
    }
    to {
        background-position-y:-189px;
    }
}

@keyframes slide {
    from {
        background-position-y:-197px;;
    }
    to {
        background-position-y:-199px;
    }
}
</style>