<template>
  <v-app>
    <v-app-bar
      app
      color="white"
      light
      :class="headerClass"
    >
     <v-btn @click="routeme('/')"
        target="_blank"
        text
      >
      <div class="d-flex align-center">
        <v-img
          alt="Logo"
          class="shrink mr-2 spinme thirtythree"
          contain
          src="/img/icons/gregs-grooves.png"
          transition="scale-transition"
          width="40"
        />
        <span class="hideWhenTiny">
        Greg's Grooves.</span>
      </div>
     </v-btn>
       <v-btn @click="routeme('/about')"
        target="_blank"
        icon        
        rounded
      >
        <v-icon
        rounded
        small
        color="grey darken-2"
      >
        mdi-help-circle
      </v-icon>
     </v-btn>   
      <v-spacer></v-spacer>

      <v-btn @click="clickit()"
        
        target="_blank"
        text
      >
        <span class="mr-2 hideWhenTiny">Source</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>

      <router-view ></router-view>
     
    </v-main>
    <div style="height:24px;">&nbsp;</div>
      <v-footer
      dark
      center
      fixed
      class="footer"
    >   
    <v-row
      justify="center"
      no-gutters
    >
      <span v-if="new Date().getFullYear()!=2020">&copy;2021 - {{ new Date().getFullYear() }} Drew Riley</span>
      <span v-else>&copy;2021 Drew Riley</span>
    </v-row> 
    </v-footer>

  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
    
  },

  data: () => ({
    //
    headerClass:"header",
  }),
  computed: {

  },

  created () {
    //for visual effect of loading screen
    setTimeout(() => this.dropInHeader(), 2000);
  },
  methods: {
   dropInHeader() {
     this.headerClass="loaded"
      let head = document.querySelector(".v-toolbar.v-app-bar.header");
      //head.classList.remove("mystyle");//ie9
      head.className = head.className.replace(/\bheader\b/g, "");
    },
    routeme(rte) {
    this.$router.push({ path: rte });
    },
    clickit() {
      window.open("https://bitbucket.org/drew-riley-dev/development/src/master/")
    },
    openThemeSettings () {
      this.$vuetify.goTo(0);
      this.rightDrawer = (!this.rightDrawer);
    }
  },
};
</script>
<style>
@media only screen and (max-width: 600px) {
  .hideWhenTiny {
    display:none;
  }
  .v-sheet.theme--light.v-toolbar.v-app-bar.v-app-bar--fixed.v-app-bar--is-scrolled.white.loaded {top:-60px;}
}
.spinme.thirtythree {
  /* 33rpm ~ .55 rps */
  animation-name: spin;
  animation-duration: 4500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
.v-sheet.v-toolbar.v-app-bar {
  transition:all 400ms ease-in-out;
}
.header.v-toolbar.v-app-bar {
  top:-68px;
  transition:all 400ms ease-in-out;
}
.v-sheet.theme--light.v-toolbar.v-app-bar.v-app-bar--fixed.white:not(.header):not(.v-app-bar--is-scrolled) {
  top:0px;
}

.spinme:hover {
   animation-play-state: paused;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
</style>